// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blogs {
  padding-top: 45px;
}
.blogs-down-padding {
  padding: 15px;
}
.blog-edit-form {
  padding-top: 90px;
  max-width: 330px;
  margin: 0 auto;
}
.btn, .form-control {
  margin-left: 5px;
  margin-right: 5px;
}

.center {
  text-align: center;
}